
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

.text div{
    font-size: 45px;
}

.text p{
    margin: 0;
    padding: 0;
}