
.container{
    display: flex;
    flex-direction: column;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    gap: 15px;
}

.text div{
    font-size: 45px;
}

.text p{
    margin: 0;
    padding: 0;
}